<!DOCTYPE html>
<html>
  <head>
    <title>Edit Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Edit Page</h1>
    <form method="post" action="<%- urlFor({ controller: 'pages', id: item._id, action: 'update' }) %>" style="width: 520px;">
      <input type="hidden" name="_method" value="PUT">
    	<p>
    		<input type="text" name="title" placeholder="Title..." value="<%= item.content.title %>" style="width: 500px; padding: 5px 10px; font-size: 15px;">
    	</p>

    	<p>
    		<textarea name="text" placeholder="Content..." style="width: 500px; height: 300px; padding: 5px 10px; font-size: 15px;"><%= item.content.text %></textarea>
    	</p>

      <% if(pages.length > 0) { %>
      
      <p>
        <label>Hierarchy:</label>
        <select name="parent">
          <option value="_none">Root Level</option>
          <option value="_none">&nbsp;</option>
        <% for(var i in pages) { %>
          <!--
          <% if(item.meta.parent == pages[i]._id) { %>
          Selected 
          <% } else { %>
          Not selected
          <% } %>
          Item: <%= item.meta.parent %>
          Page: <%= pages[i]._id %>
          -->
          <option value="<%- pages[i]._id %>"<%= (pages[i]._id == item.meta.parent ? ' selected' : '') %>><%- pages[i].content.title %></option>
        <% } %>
        </select>
      </p>

      <% } %>
      
      <hr style="border: none; background: #999; height: 1px; margin: 30px 0;">
      
      <p>
        <input type="submit" value="Submit"> <span>or <a href="/pages">cancel</a></span>
      </p>
    </form>
  </body>
</html>